<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml" />

  <context:property-placeholder location="classpath:search-suggest.properties" system-properties-mode="OVERRIDE"/>
  <context:annotation-config/>
  <bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer"/>
  <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>
    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <ref bean="searchSuggestRS"/>
            <bean class="com.wikia.search.monitor.rest.HealthRestService" />
            <bean class="com.wikia.search.monitor.rest.MetricsRestService">
                <constructor-arg name="timeWindowMetricsServiceList">
                    <list>
                        <bean class="com.wikia.search.monitor.timewindow.TimeWindowMetricsServiceImpl">
                            <constructor-arg name="timeFrame">
                                <bean class="com.wikia.search.monitor.TimeFrame" factory-method="secondBased">
                                    <constructor-arg value="3600" />
                                </bean>
                            </constructor-arg>
                            <constructor-arg name="metricRegistry" ref="metricRegistry"/>
                        </bean>
                    </list>
                </constructor-arg>
            </bean>
            <bean class="com.wikia.search.suggest.rest.TrackingRestService" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.wikia.search.http.CrossOriginResourceSharingFilter"/>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
        <jaxrs:outInterceptors>
            <bean class="org.apache.cxf.transport.common.gzip.GZIPOutInterceptor" />
        </jaxrs:outInterceptors>
    </jaxrs:server>

    <bean name="solrHealthCheck" class="com.wikia.search.monitor.healthcheck.SolrHealthCheck" lazy-init="true" />
    <bean name="healthCheckService" class="com.wikia.search.monitor.healthcheck.HealthCheckServiceImpl"/>
    <bean name="metricRegistry" class="com.codahale.metrics.MetricRegistry"/>
    <bean name="healthCheckRegistry" class="com.codahale.metrics.health.HealthCheckRegistry"/>

    <bean name="querySanitizer" class="com.wikia.search.suggest.service.QuerySanitizerImpl" />

    <bean name="httpMonitoringProcessor" class="com.wikia.search.solr.HttpMonitoringProcessor"/>
    <bean name="solrConnectionFactory" class="com.wikia.search.solr.SolrConnectionFactory">
        <constructor-arg name="httpProcessors">
            <array>
                <!-- monitor solr query performance -->
                <ref bean="httpMonitoringProcessor" />
            </array>
        </constructor-arg>
        <property name="masterUrl" value="${solr.slave.url}" />
        <property name="slaveUrl" value="${solr.master.url}" />
    </bean>
    <bean name="solrSlave" factory-bean="solrConnectionFactory" factory-method="getSlave"/>
    <bean name="solrMaster" factory-bean="solrConnectionFactory" factory-method="getMaster"/>

    <bean name="ngramSearchSuggestService" class="com.wikia.search.suggest.service.SearchServiceMetricsGatherer">
        <constructor-arg name="searchService">
            <bean class="com.wikia.search.suggest.service.NgramSearchSuggestService" />
        </constructor-arg>
        <constructor-arg name="registry" ref="metricRegistry" />
        <constructor-arg name="serviceName" value="ngram"/>
    </bean>
    <bean name="suffixSearchSuggestService" class="com.wikia.search.suggest.service.SearchServiceMetricsGatherer">
        <constructor-arg name="searchService">
            <bean class="com.wikia.search.suggest.service.SuffixSearchSuggestService">
                <constructor-arg name="querySanitizer" ref="querySanitizer"/>
                <constructor-arg name="solrServer" ref="solrSlave"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="registry" ref="metricRegistry" />
        <constructor-arg name="serviceName" value="prefix"/>
    </bean>

    <bean name="searchSuggestRS" class="com.wikia.search.suggest.rest.SearchSuggestRestService"/>
    <bean name="monitorServiceFactory" class="com.wikia.search.monitor.slowqueries.MonitorServiceFactory">
        <property name="slowQueriesCount" value="10"/>
        <property name="timeFrames">
            <array>
                <bean class="org.joda.time.Period" factory-method="minutes">
                    <constructor-arg value="1"/>
                </bean>
                <bean class="org.joda.time.Period" factory-method="minutes">
                    <constructor-arg value="30"/>
                </bean>
                <bean class="org.joda.time.Period" factory-method="hours">
                    <constructor-arg value="24"/>
                </bean>
            </array>
        </property>
    </bean>

    <bean name="monitorService" factory-bean="monitorServiceFactory" factory-method="createMonitorService"/>
</beans>
